.*
*.py[cod]
# *.jpg
*.jpeg
# *.png
*.gif
*.bmp
*.mp4
*.webm
*.npy
*.mov
*.mkv
*.log
*.zip
*.pt
*.pth
*.ckpt
*.safetensors
#*.json
# *.txt
*.backup
*.pkl
*.html
!plugins/motion_designer/assets/motion_designer_iframe_template.html
*.pdf
*.whl
*.exe
cache
__pycache__/
storage/
samples/
!.gitignore
!requirements.txt
.DS_Store
*DS_Store
google/
finetunes/
outputs/
outputs2/
gradio_outputs/
ckpts/
loras/
loras_i2v/

/settings/

wgp_config.json
plugins_local.json
loras_url_cache.json
inputs
pocket-tts/ltx inputs/
.gitignore
wgp.py
launch_wan2gp.bat
shared/utils/history_persistence.py
Lora Details on Usage.md
Lora Details on Usage.txt
loras_url_cache_v2.json
